.bg{
    background-color: var(--BG_COLOR_L1);
}
.nav-link{
    color:var(--TEXT_COLOR_L3);
}
.bord{
    border: 1px solid var(--TEXT_COLOR_L5);
    margin: 0px 5px;
    font-size: 0.75rem !important;
}
.bord>span{
    color: var(--TEXT_COLOR_L2);
}
.bord:hover{
    color: var(--TEXT_COLOR_L3)
}
.bg-tr>li:nth-child(1){
 border-radius: 0 !important;
}
.bg-tr{
    background: transparent !important;
    transform: translate(5px, 35px) !important;
    min-width: 123px !important;
}
.bg-tr-a{
    /* background-color: var(--BG_COLOR_L1); */
    background: transparent;
    border: 1px solid white;
    color: white;
}
.bg-tr-a>a{
    color: var(--TEXT_COLOR_L2);
}
.dropdown-sub-header-lang{
    border-radius: 5px;
}