:root {
    --whiteTransp: rgba(255, 255, 255, 0.45);
    --whiteTranspHover: rgba(255, 255, 255, 0.327);
    --white: white;
    --bgPrimary: #171f30;
    --bgSecondary: #171f30ad;
    --BRAND_BLUE: #1f80e0;
    --BRAND_RED: #f15151;
    --BRAND_ORANGE: #db882a;
    --BG_GRADIENT_L0: linear-gradient(to bottom, #141b29, #0c111b 300px);
    --BG_GRADIENT_L1: linear-gradient(to bottom, #192133, #111826);
    --BG_GRADIENT_L2: linear-gradient(to bottom, #334366, #334366, #1c2940);
    --CARD_GRADIENT: #030b17;
    --HEADER_COLOR: #121926;
    --BG_COLOR_L0: #0c111b;
    --BG_COLOR_L1: #192133;
    --BG_COLOR_L2: #334366;
    --BG_COLOR_L3: rgba(144, 153, 153, 0.1);
    --BG_COLOR_L4: #1b1f20;
    --BORDER_COLOR_L0: #2e3333;
    --BORDER_COLOR_L1: #fdffff14;
    --TEXT_COLOR_L0: #fff;
    --TEXT_COLOR_L1: rgba(255, 255, 255, 0.8);
    --TEXT_COLOR_L2: rgba(255, 255, 255, 0.6);
    --TEXT_COLOR_L3: #dadada;
    --TEXT_COLOR_L4: #909999;
    --TEXT_COLOR_L5: #f9f9f9;
    --TEXT_LINK_COLOR: #1f80e0;
    --TEXT_BTN_COLOR: #1f80e0;
}
/* utilts############################# start */
.text-color-p{
    color: var(--whiteTransp) !important;
}
.text-color-p-dark{
color: var(--bgPrimary);
}
.text-color-p-dark-1{
    color: var(--bgSecondary);
    }
.text-color-a{
    color: var(--whiteTransp);
}
.text-color-a:hover{
    color: rgba(255, 255, 255, 0.63) !important;
}
/* utilts #############################  end */

body {
    background-color: #121926 !important;
    font-family: 'Roboto', sans-serif;
}

/* crouol below nav start ##############################*/
.btn-outline-primary:hover{
    color:  var(--TEXT_COLOR_L5) !important;
    background: var(--TEXT_BTN_COLOR) !important;
}
#subscribePage{
    display: none;
    background: url("https://wallpaperaccess.com/full/4533600.jpg");
    /* background-repeat: no-repeat;
  background-size: auto; */
}
/* crouol below nav end ##############################*/
.height-Caro {
    height: 350px;
}

.padding-Caro {
    padding: 31px 30px 34px;
}

.bg-Caro {
    background-color: #030b17;
    border-radius: 10px !important;
    overflow: hidden;
}

.bg-Caro-main {
    background-color: #192133 !important;
    border-radius: 10px !important;
    overflow: hidden;
}

.bgBox-caro {
    position: relative;
    top: -250px;
    height: auto;
    width: 500px;
    background-color: #030b17;
    box-shadow: 40px 0px 50px 40px #030b17;
}

.btn-caro {
    width: 3% !important;
}

.btn-caro-icon {
    /* visibility: hidden ; */
    transition: 0.2s;
    font-size: 40px !important;
}

.ad-info {
    width: 210px;
}

.carouselContainer {
    width: 94%;
    margin: auto;
}

.common-caro-left-box {
    z-index: 100;
    position: relative;
    color: var(--white);
    margin-left: 40px;
    /* margin-right: 125px; */
    /* margin-top: 80px; */
}

.detail-caro {
    color: var(--whiteTransp) !important;
}

/* handel------------ */
::-webkit-scrollbar-thumb {
    background: var(--whiteTransp);
}

::-webkit-scrollbar {
    width: 8px;
}

/* lazy-------------- */
.fallback-lazy-slider-home {
    height: 278.250px;
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fallback-lazy-slider-home {
    height: 100px;
    width: 100%;
    /* font-size: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fallback-lazy-slider-home i {
    animation: mymove 1.5s infinite;
}

.fallback-lazy-slider-home i {
    animation: mymove 1.5s infinite;
}

@keyframes mymove {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1180px){
    #carouselExampleControls{
        display: none;
    }
    #subscribePage{
        display: block;
    }
}